<!--ngIf è una direttiva Angular che permette di mostrare o nascondere un elemento HTML in base a una condizione. Se la condizione è vera, l'elemento viene visualizzato; se è falsa, viene nascosto.

la funzione deve cambiare una variabile booleana che controlla la visibilità del componente di creazione personaggio

DENTRO IL .TS VA SCRITTA LA LOGICA DELLA FUNZIONE CHE DEVE ESSERE CHIAMATA DAL CLIC. DENTRO QUESTA FUNZIONE VA IMPOSTATO IL VALORE DELLA VARIABILE, CHE A SUA VOLTA STA NELL'NGIF. QUEL VALORE DEVE ESSERE CONTRARIO AL VALORE IMPOSTATO NELLA FUNZIONE.-->

<div class="personaggio-container">
    <h2 (click)="creaPersonaggio()" class="voce-menu">Crea il tuo personaggio</h2>
        <div class="sezione-personaggio animazione-form" *ngIf="mostraCreaPersonaggio"
          >
            <div class="field">
              <label for="name">Nome</label>
              <input
                id="input-nome"
                type="text"
                pInputText
                placeholder="Digita il nome del tuo personaggio"
                class="w-full"
              />
            </div>

            <div class="card">
              <p-carousel 
                  [value]="personaggi" 
                  [numVisible]="3" 
                  [numScroll]="1" 
                  [responsiveOptions]="responsiveOptions">
                      <ng-template let-product pTemplate="item">
                          <div class="border-1 surface-border border-round m-2 p-3">
                              <div class="mb-3">
                                  <div class="relative mx-auto">
                                      <img 
                                          src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}" 
                                          [alt]="product.name" 
                                          class="w-full border-round" />
                                      <p-tag 
                                          [value]="product.inventoryStatus" 
                                          [severity]="getSeverity(product.inventoryStatus)" 
                                          class="absolute" 
                                          [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                                  </div>
                              </div>
                              <div class="mb-3 font-medium">
                                  {{ product.name }}
                              </div>
                              <div class="flex justify-content-between align-items-center">
                                  <div class="mt-0 font-semibold text-xl">
                                      {{ '$' + product.price }}
                                  </div>
                                  <span>
                                      <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                                      <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                                  </span>
                              </div>
                          </div>
                      </ng-template>
              </p-carousel>
          </div>
        </div>
</div>

<!-- <p-carousel [value]="[1,2,3]">
  <ng-template let-item pTemplate="item">
    <div style="padding:2rem; border:1px solid black;">
      {{ item }}
    </div>
  </ng-template>
</p-carousel> -->