<!--ngIf è una direttiva Angular che permette di mostrare o nascondere un elemento HTML in base a una condizione. Se la condizione è vera, l'elemento viene visualizzato; se è falsa, viene nascosto.

la funzione deve cambiare una variabile booleana che controlla la visibilità del componente di creazione personaggio

DENTRO IL .TS VA SCRITTA LA LOGICA DELLA FUNZIONE CHE DEVE ESSERE CHIAMATA DAL CLIC. DENTRO QUESTA FUNZIONE VA IMPOSTATO IL VALORE DELLA VARIABILE, CHE A SUA VOLTA STA NELL'NGIF. QUEL VALORE DEVE ESSERE CONTRARIO AL VALORE IMPOSTATO NELLA FUNZIONE.-->

<div class="personaggio-container">
    <h2 (click)="creaPersonaggio()" class="voce-menu">Crea il tuo personaggio</h2>
        <div class="sezione-personaggio animazione-form" *ngIf="mostraCreaPersonaggio"
          >
            <div class="field">
              <label for="name">Nome</label>
              <input
                id="input-nome"
                type="text"
                pInputText
                placeholder="Digita il nome del tuo personaggio"
                class="w-full"
              />
            </div>
        </div>
</div>