<div class="login-container">
    <div class="login-wrapper">
      <p-card>
        <div class="logo-container flex flex-column align-items-center">
          <img src="assets/icons/logo.png" alt="Arena Batterfield logo" class="logo mb-2" />
          <h1 class="text-center mb-5">
            <span class="arena-text">Arena</span> Battlefield
          </h1>
        </div>
    
        <div class="field">
          <label for="username">Username</label>
          <input
            id="username"
            type="text"
            pInputText
            [(ngModel)]="username"
            placeholder="Inserisci username"
            class="w-full"
          />
        </div>
    
        <div class="field">
          <label for="password">Password</label>
          <p-password
            id="password"
            [(ngModel)]="password"
            [toggleMask]="true"
            placeholder="Inserisci password"
            class="w-full"
          ></p-password>
        </div>
    
        <p-button
          id="login-button"
          label="Accedi"
          icon="pi pi-sign-in"
          (onClick)="doLogin()"
          styleClass="login-btn w-full mt-3"
        ></p-button>
    
      </p-card>
    </div>
</div>