<!--card-->
<div id="card-login">
  <h1>login</h1>
  <div>
    <label for="">Username</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="username"
      placeholder="Digita qui il tuo nome utente"
      class="w-full"
    >
  </div>
  <div>
    <label for="password">Password</label>
    <p-password
      [(ngModel)]="password"
      [toggleMask]="true"
      placeholder="Digita qui la tua password"
      styleClass="w-full"
    ></p-password>
  </div>
  <p-button
    label="ACCEDI"
    icon="pi pi-sign-in"
    (onClick)="doLogin()"
    styleClass="w-full"
  ></p-button>
</div>


  




<!-- <div class="card flex justify-center">
    <p-button label="Check" />
</div> -->

<router-outlet />

<!-- pagina nera al centro deve stare una box, un quadrato con un colore con i bordi che si devono vedere, dentro la quale deve stare scritto "accedi con il nome account" e sotto l'input da inserire e poi sotto "password" (input) e un pulsante "Accedi"-->