.logo-container {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

.titolo {
    font-size: 40px;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nuova-partita {
    cursor: pointer;
}
.nuova-partita:hover {
    color: #5AEFFD;
    text-shadow: 
      0 0 5px #5AEFFD,
      0 0 15px #5AEFFD,
      0 0 25px #5AEFFD;
}