<!--voce di menu Nuova partita che, col routing, mi deve portare a un altro componente chiamato Gestore della partita, che a sua volta mi deve portare al componente di gioco per la creazione del personaggio tramite ngIf

SHIT + ALT + F PER ALLINEARE IL CAZZO DI CODICE-->


<div class="logo-container flex flex-column align-items-center">
    <img src="assets/icons/logo.png" alt="Arena Batterfield logo" class="logo mb-2" />
    <h1 class="text-center mb-5 titolo">
        <span class="arena-text">Arena</span> Battlefield
    </h1>
</div>

<div class="menu-container">
    <div class="menu">
        <h2 (click)="goNuovaPartita()" class="nuova-partita">Nuova partita</h2>
        <h2>Voce di menu</h2>
        <h2>Altra voce di menu</h2>
        <h2>Ho sonno</h2>
    </div>
</div>