* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#card-login {
    border: 1px solid aqua;
}


//responsivity

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}