@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Jura, sans-serif;
}

.p-inputtext:focus {
  border-color: #5AEFFD !important;
  box-shadow: 0 0 0 2px rgba(90, 239, 253, 0.4) !important;
}

#card-login {
    border: 1px solid #5AEFFD;
}




//responsivity

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}