@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Jura, sans-serif;
}

#card-login {
    border: 1px solid aqua;
}


//responsivity

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }
}